body {
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://source.unsplash.com/random/?landscape");
    background-size: cover;
}

.card {
    background: #a1a1a1af;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 40px;
}

input.search-bar {
    padding: 0.8em;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-size: 100%;
    width: 100%;
    height: 20px;
}

button:hover {
    background-color: #70797e;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.description {
    text-transform: capitalize;
}

.temp {
    font-size: 5em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}